<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<div class="container">
  <h1>Contact</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non maiores corrupti, quaerat reprehenderit repudiandae deserunt earum vel, ducimus harum quae optio, ipsam ullam consectetur dolore facere perspiciatis distinctio.</p>
  <div class="container card text-bg-secondary">
<div class="mb-3 d-flex container my-3">
    <label for="exampleFormControlInput1" class="form-label text-black"><STRONG>Your E-mail</STRONG></label>
    <input type="email" class="form-control ms-3" id="exampleFormControlInput1" placeholder="Your email">
  </div>
  <div class="mb-3 d-flex container my-3">
    <label for="exampleFormControlTextarea1" class="form-label text-black"><strong>Your Message</strong></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Please enter your message here..."  rows="3"></textarea>
</div>
    <div class="d-flex justify-content-end my-3">
        <a href="#" class="btn btn-primary">Submit</a>
</div>


  </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>